<ion-header>
  <ion-toolbar>
    <ion-title>13. Turtles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="https://loremflickr.com/320/240/pet,turtles/all"></ion-img>

  <ul>
    <li>Other species have their sex assigned as soon as fertilization occurs. But when it comes to turtles, they’re a special case.
      The temperature of the eggs while they’re developing is the deciding factor here. This is something called temperature-dependent sex determination.
      If a turtles eggs incubate below 81.86 degrees Fahrenheit, the turtle eggs will hatch male.
      If they’re incubated above 87.8°F, the babies will be female.</li> <br />
  </ul>
  <ion-grid>
  <ion-row>
    <ion-col text-center>
    <a href="https://www.thefactsite.com/10-interesting-facts-about-turtles/" target="_blank">Thefactsite.com Website Refrence</a>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col text-center>
      <ion-button size="small" href="/chapter12"> 🡄 12. Snakes </ion-button>
      <ion-button href="/toc">
        <ion-icon slot="start" name="star"></ion-icon>
        TOC
      </ion-button>
      <ion-button size="small" href="/home"> Cover 🡆 </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

