<ion-header>
  <ion-toolbar>
    <ion-title>3. Dogs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="\..\assets\pics\dog.jpg"></ion-img>
  <ul>
    <li> UFAW states that on average around 30% of Dalmatians are deaf in one ear and 5% are deaf in both. This is due to something called the extreme piebald gene which is responsible for their white coat and blue eyes (in some of them). Dalmatians with larger dark patches are less likely to be deaf.</li> <br />
    <li>Many owners haven’t heard of this interesting dog fact, but did you know that your four-legged friend has three eyelids? According to iHeartDogs, the third lid is called the ‘haw’ or nictitating membrane, and it’s responsible for keeping the eye protected and lubricated.</li>
  </ul>
  <ion-grid>
  <ion-row>
    <ion-col text-center>
    <a href="https://www.purina.co.uk/dogs/behaviour-and-training/understanding-dog-behaviours/amazing-dog-facts" target="_blank">More facts at: Purina.co.uk</a>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col text-center>
      <ion-button size="small" href="/chapter2"> 🡄 2. Cats </ion-button>
      <ion-button href="/toc">
        <ion-icon slot="start" name="star"></ion-icon>
        TOC
      </ion-button>
      <ion-button size="small" href="/chapter4"> 4. Fish 🡆 </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

