<ion-header>
  <ion-toolbar>
    <ion-title>12. Snakes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="https://loremflickr.com/320/240/pet,snakes/all"></ion-img>
  <ul>
    <li>Sick with Worry:
      If a snake is stressed or attacked after recently eating it will regurgitate its meal in order to escape.</li> <br />
    <li>They have adapted their jaw to allow them to open them to 150 degrees wide. Instead of being fused directly to the skull, it is connected by loose ligaments. This means that they can’t chew their food but are able to eat animals up to double their size.</li>
  </ul>
  <ion-grid>
  <ion-row>
    <ion-col text-center>
    <a href="https://letsgetsciencey.com/facts-about-snakes/" target="_blank">Letsgetsciencey.com Website Refrence</a>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col text-center>
      <ion-button size="small" href="/chapter11"> 🡄 11.Rabbits </ion-button>
      <ion-button href="/toc">
        <ion-icon size="small" slot="start" name="star"></ion-icon>TOC
      </ion-button>
      <ion-button size="small" href="/chapter13"> 13.Turtles 🡆 </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

