<ion-header>
  <ion-toolbar>
    <ion-title>5. Hampsters</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="\..\assets\pics\hamster.jpg"></ion-img>
  <ul>
    <li> “Hamster,” from the German word “hamstern,” means “hoard,” which is a favorite pastime of our hamster friends.</li> <br />
    <li>Since hamsters are nocturnal, they naturally sleep more during the day and are more active at twilight. Don’t wake them up to play. Instead, plan your interactions for late afternoon or early evening after they’ve had their proper rest.</li>
  </ul>
  <ion-grid>
  <ion-row>
    <ion-col text-center>
    <a href="https://www.petco.com/content/petco/PetcoStore/en_US/pet-services/resource-center/new-pet/25-fun-facts-about-hamsters.html" target="_blank">More facts at: Petco.com</a>
    </ion-col>
  </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-button size="small" href="/chapter4"> 🡄 4. Fish </ion-button>
        <ion-button href="/toc">
          <ion-icon slot="start" name="star"></ion-icon>
          TOC
        </ion-button>
        <ion-button size="small" href="/chapter6"> 6. Iguanas 🡆 </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>
  
  