<ion-header>
  <ion-toolbar>
    <ion-title>8. Mice</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="https://loremflickr.com/320/240/mice"></ion-img>
  <ul>
    <li> By flattening out their bodies, mice are able to squeeze through gaps as small as 6mm. That’s roughly the size of a pencil!</li> <br />
    <li>Mice, much like other rodents, have a set of incisor teeth that never stop growing. Their teeth grow at a rate of 0.3mm a day!</li>
  </ul>
  <ion-grid>
  <ion-row>
    <ion-col text-center>
    <a href="https://www.jcehrlich.com/blog/12-fascinating-facts-about-mice-you-need-to-know/" target="_blank">Jcehrlich.com Website Refrence</a>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col text-center>
      <ion-button size="small" href="/chapter7"> 🡄 7. Lizards </ion-button>
      <ion-button href="/toc">
        <ion-icon slot="start" name="star"></ion-icon>
        TOC
      </ion-button>
      <ion-button size="small" href="/chapter9"> 9. Pigs 🡆 </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

