<ion-header>
  <ion-toolbar>
    <ion-title>2. Cats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="\..\assets\pics\cat.jpg"></ion-img>
  <ul>
    <li> If you thought cats spent a lot of their lives sleeping, you’d be right. According to Veterinary Hub, Cats actually spend 70% of their lives sleeping, which works out to around 13-16 hours a day. It’s a cat’s life!</li> <br />
    <li>This cat fact will really blow your mind. A study discovered that our little house cats share 95.6% of their genetic makeup with tigers! They also share a lot of the same behaviours such as scent and urine marking, prey stalking and pouncing.</li>
  </ul>
  <ion-grid>
  <ion-row>
    <ion-col text-center>
    <a href="https:www.purina.co.uk/cats/behaviour-and-training/understanding-cat-behaviour/fun-facts-about-cats" target="_blank">More facts at:  Purina.co.uk</a>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col text-center>
      <ion-button size="small" href="/chapter1"> 🡄 1. Birds </ion-button>
      <ion-button href="/toc">
        <ion-icon slot="start" name="star"></ion-icon>
        TOC
      </ion-button>
      <ion-button size="small" href="/chapter3"> 3. Dogs 🡆 </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

