<ion-header>
  <ion-toolbar>
    <ion-title>4. Fish</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="https://loremflickr.com/320/240/pet,Fish,bowl/all"></ion-img>
  <ul>
    <li> Fish use a variety of low-pitched sounds to convey messages to each other. They moan, grunt, croak, boom, hiss, whistle, creak, shriek, and wail. They rattle their bones and gnash their teeth. However, fish do not have vocal chords. They use other parts of their bodies to make noises, such as vibrating muscles against their swim bladder.</li> <br />
    <li>Fish have sleep-like periods where they have lowered response to stimuli, slowed physical activity, and reduced metabolism but they do not share the same changes in brain waves as humans do when they sleep.</li>
  </ul>
  <ion-grid>
  <ion-row>
    <ion-col text-center>
    <a href="https://www.factretriever.com/fun-fish-facts" target="_blank">More facts at: Factretriever.com</a>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col text-center>
      <ion-button size="small" href="/chapter3"> 🡄 3. Dogs </ion-button>
      <ion-button href="/toc">
        <ion-icon slot="start" name="star"></ion-icon>
        TOC
      </ion-button>
      <ion-button size="small" href="/chapter5"> 5. Hamsters 🡆 </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

