<ion-header>
  <ion-toolbar>
    <ion-title>11. Rabbits</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="\..\assets\pics\rabbit.jpg"></ion-img>
  <ul>
    <li>  Baby rabbits are called ‘kittens’</li> <br />
    <li>  Rabbits have almost 360 degree vision but they are born with their eyes shut</li><br />
    <li> A single bunny is a lonely bunny. Rabbits are social creatures and are happiest in the company of their own species. The best combination is a neutered male and neutered female. They can become extremely sad and depressed if kept on their own.</li>
  </ul>
  <ion-grid>
  <ion-row>
    <ion-col text-center>
    <a href="https://www.bluecross.org.uk/pet-advice/rabbit-facts" target="_blank">More facts at: Bluecross.org.uk</a>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col text-center>
      <ion-button size="small" href="/chapter10"> 🡄 10.Pigeons </ion-button>
      <ion-button href="/toc">
        <ion-icon slot="start" name="star"></ion-icon>
        TOC
      </ion-button>
      <ion-button size="small" href="/chapter12"> 12.Snakes 🡆 </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

