<ion-header>
  <ion-toolbar>
    <ion-title>6. Iguanas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="https://loremflickr.com/320/240/pet,iguana/all"></ion-img>
  <ul>
    <li>They have an extra eye. Not only do iguanas have great vision and see colors, as well as UV light, sharply, but they also have an unusual photosensory organ on top of their heads called the pineal gland, or parietal eye. This structure has some anatomical features of a normal eye and is sensitive to light changes, as well as to movement. This “third eye” cannot form images but helps wild iguanas detect predators lurking above them. This extra eye is present in several other lizard species, as well as in some fish.</li> <br />
    <li>Iguanas are very large lizards that can live 20 or more years in captivity and can grow as long as six feet, nose to tail tip. More than half of their body length is due to their tail. Adult males can weigh up to nine pounds, with some especially large ones reaching as much as 18 pounds, while smaller females may grow up to seven pounds. </li>
  </ul>
  <ion-grid>
  <ion-row>
    <ion-col text-center>
    <a href="http://www.vetstreet.com/our-pet-experts/top-10-fun-facts-about-iguanas?" target="_blank">Vetstreet.com Website Refrence</a>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col text-center>
      <ion-button size="small" href="/chapter5"> 🡄 5.Hamsters </ion-button>
      <ion-button href="/toc">
        <ion-icon slot="start" name="star"></ion-icon>
        TOC
      </ion-button>
      <ion-button size="small" href="/chapter7"> 7.Lizards 🡆 </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

