<ion-header>
  <ion-toolbar>
    <ion-title>9. Pigs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="\..\assets\pics\pig.jpg"></ion-img>
  <ul>
    <li> A pig's squeal can be as loud as 115 decibels – that’s 3 decibels higher than the sound of a supersonic airliner.</li> <br />
    <li>And when they’re not squealing, they’re talking. Pigs communicate constantly with each other, and more than 20 different vocalisations have been identified; from wooing a mate to saying ‘I’m hungry!”</li>
  </ul>
  <ion-grid>
  <ion-row>
    <ion-col text-center>
    <a href="https://thepigsite.com/articles/10-surprising-facts-about-pigs" target="_blank">More facts at: Thepigsite.com</a>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col text-center>
      <ion-button size="small" href="/chapter8"> 🡄 8. Mice </ion-button>
      <ion-button href="/toc">
        <ion-icon slot="start" name="star"></ion-icon>
        TOC
      </ion-button>
      <ion-button size="small" href="/chapter10"> 10. Pigeons 🡆 </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

