<ion-header>
  <ion-toolbar>
    <ion-title>7. Lizards</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="https://loremflickr.com/320/240/Lizard"></ion-img>

  <ul>
    <li>Many types of lizards do not need to be close to water in order to survive, since they will often absorb all the water they need from their food.
      Some lizards can go their entire lifetime without drinking any water at all.</li> <br />
    <li>Since lizards are cold-blooded creatures, their body temperature is susceptible to change quickly depending on the environment and surrounding temperature.
      Without sunshine, lizards are not able to survive for very long.</li>
  </ul>
  <ion-grid>
  <ion-row>
    <ion-col text-center>
    <a href="https://www.thefactsite.com/lizard-facts/" target="_blank">More facts at: Thefactsite.com</a>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col text-center>
      <ion-button size="small" href="/chapter6"> 🡄 6. Iguanas </ion-button>
      <ion-button href="/toc">
        <ion-icon slot="start" name="star"></ion-icon>
        TOC
      </ion-button>
      <ion-button size="small" href="/chapter8"> 8. Mice 🡆 </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

