<ion-header>
  <ion-toolbar>
    <ion-title>10. Pigeons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="\..\assets\pics\pigeon.jpg"></ion-img>
  <ul>
    <li> Pigeons are incredibly complex and intelligent animals. They are one of only a small number of species to pass the ‘mirror test’ – a test of self recognition. They can also recognise each letter of the human alphabet, differentiate between photographs, and even distinguish different humans within a photograph.</li> <br />
    <li>Pigeons have excellent hearing abilities. They can detect sounds at far lower frequencies than humans are able to, and can thus hear distant storms and volcanoes.</li>
  </ul>
  <ion-grid>
  <ion-row>
    <ion-col text-center>
    <a href="https://onekindplanet.org/animal/pigeon/" target="_blank">More facts at: Onekindplanet.org</a>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col text-center>
      <ion-button size="small" href="/chapter9"> 🡄 9. Pigs </ion-button>
      <ion-button href="/toc">
        <ion-icon slot="start" name="star"></ion-icon>
        TOC
      </ion-button>
      <ion-button size="small" href="/chapter11"> 11. Rabbits 🡆 </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

