<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Pet Facts: 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="\..\assets\pics\pets.jpg"></ion-img>
<h1>Fact</h1>
<h2>/fakt/
- noun -
a thing that is known or proved to be true.</h2>
<br />
<a href="https://unsplash.com/" target="_blank">Unsplash.com - freely-usable images.</a><br /><br />
<a href="https://icons8.com/" target="_blank">Icons8.com -FREE ICONS and more</a><br /><br />
<ion-button  expand="block" href="/toc"> Table of Contents </ion-button>
</ion-content>
